/*------------------------------------------------------------------
  [Main wrapper]
*/
.bt-wrapper{
  min-height: 100%;
  padding-top: $top-header-height + 1px;

  @include phone {
    overflow-x: hidden;
  }

  @media #{$print} {
    padding-top: 0;
  }

  @include non-responsive{
    &.bt-boxed-layout {
      max-width: $boxed-layout-width;
      position: relative;
      margin: 0 auto;
      overflow: hidden;
      display: flex;
    }
  }
}